src/osm_api/__pycache__/parser.cpython-39.pyc
src/osm_api/__pycache__/core.cpython-39.pyc
src/osm_api/__pycache__/__init__.cpython-39.pyc
src/osm_api/__pycache__/api.cpython-39.pyc
src/osmapi_test.ipynb
.vscode/settings.json
